<!DOCTYPE HTML>
<html>
<head>
	<title>{title}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body data-spy="scroll" data-target="#sidebar">
	<div class="container">
		<div class="row">
			<div class="col-md-9" role="main">
				<div class="page-header"><h1>{title}</h1></div>
				<div class="col-md-3">
					<div>
						<ul>
						{html_page_links}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
